.review-section {
  width: 100%;
  padding: 64px 165px;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

@media (max-width: 1279px) {
  .review-section {
    padding: 64px 100px;
  }
  
}
