.up-arrow {
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 100px;
  right: 100px;
  z-index: 100;
  border-radius: 50%;
  border: 3px solid #7a7a7a;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.arrow-image {
  object-fit: contain;
}

@media (max-width: 767px) {
  .up-arrow {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
  }

  .arrow-image {
    height: 14px;
    width: 14px;
  }
}
