.container {
  width: 100%;
  display: flex;
  gap: 135px;
  align-items: flex-start;
  justify-content: flex-start;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text {
  color: #bebebe;
  font-family: "Zen Kaku Gothic New Bold";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}

.reviewed-by {
  color: #929292;
  font-family: "Zen Kaku Gothic New Medium";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.image-container {
  height: 150px;
  min-width: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.image {
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: center;
  filter: grayscale(1);
}

@media (max-width: 1279px) {
  .container {
    gap: 68px;
  }

  .text {
    font-size: 32px;
  }

  .reviewed-by {
    font-size: 16px;
  }

  .image-container {
    height: 100px;
    min-width: 100px;
  }

  .image {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 767px) {
  .container {
    gap: 32px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .text {
    font-size: 20px;
    margin-bottom: 0;
    text-align: center;
  }

  .reviewed-by {
    font-size: 12px;
    text-align: center;
  }

  .image-container {
    height: 100px;
    min-width: 100px;
  }

  .image {
    height: 100px;
    width: 100px;
  }
}
