.container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e8e8e8;
}

.item {
  width: 100%;
  height: 64px;
  padding: 0 125px 0 165px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.heading {
  color: #000;
  font-family: "Zen Kaku Gothic New Bold";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  z-index: 2;
  transition: color 0.5s ease-in-out;
  margin-top: -5px;
}

.description {
  color: #000;
  font-family: "Zen Kaku Gothic New Bold";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 2;
  margin-top: -5px;
}

.sub-description {
  color: #fff;
  font-family: "Zen Kaku Gothic New Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 2;
}

.item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 400%;
  height: 100%;
  background-color: black;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  border-radius: 200px;
}

.item:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.item:hover .heading {
  color: #fff;
}
.item:hover .description {
  color: #fff;
}

@media (max-width: 1279px) {
  .item {
    padding: 0 100px;
  }

  .heading {
    font-size: 24px;
  }

  .description {
    font-size: 24px;
  }

  .sub-description {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .item {
    height: auto;
    padding: 20px;
    grid-template-columns: repeat(1, 1fr);
    background-color: #000;
    gap: 5px;
  }

  .heading {
    color: #fff;
    font-size: 20px;
    margin-top: 0;
    text-align: center;
  }

  .description {
    color: #fff;
    font-size: 16px;
    margin-top: 0;
    text-align: center;
  }

  .sub-description {
    color: #fff;
    font-size: 14px;
    text-align: center;
  }

  .item::before {
    display: none;
  }

  .item:hover .heading {
    color: #fff;
  }
  .item:hover .description {
    color: #fff;
  }
}
